{% load staticfiles %}

<!--<script type="text/javascript" src="{% static 'canvas/ajax_canvas_post.js' %}"></script>-->
<head>


<link rel="stylesheet" href="{% static 'canvas/style/canvas_create_gui.css' %}" type="text/css">
 
<link rel="stylesheet" href="{% static 'canvaswrite/style/css_canvaswrite.css' %}" type="text/css">
 




</head>

<div class="canvaswrite_toolbox" id="{{canvas_html_input_id}}canvaswrite_toolbox">


<input type="button" ref_canvas_id="{{canvas_html_input_id}}" class="add_texts" id="{{canvas_html_input_id}}add_texts" value="+ text">

<select id= "{{canvas_html_input_id }}font_selector" class="font_selector"  
style="width:100px">

  <option value="Arial">Arial</option>
  <option value="Helvetic"> Helvetic</option>
  <option value="Comic Sans MS">Comic Sans MS</option>
  <option value="Times New Roman">Times New Roman</option>
  <option value="Georgia"> Georgia</option>
  <option value="Impact"> Impact</option>
</select>



<input id="{{canvas_html_input_id }}size_selector" value='15'  type="number" name="quantity" min="15" max="70" class="size_selector">


</div>
  


<!-- <div class="canvas_create_div" id = "{{canvas_html_input_id}}canvas_create_div">

<canvas  class = "canvas_create" id="{{canvas_html_input_id}}canvas"  >
Your browser does not support the HTML5 canvas tag.</canvas><br>


</div> -->

<input type="hidden" id= "{{canvas_html_input_id }}url" data-url="{% url 'canvas:create_canvas_post' canvas_html_input_id  %}" />

<!-- 
<form   id= "{{canvas_html_input_id }}canvas_form" class="canvas_form" data-ref-canvas-id ="{{canvas_html_input_id }}"   >


	<input  class= "canvas_post_button" type="submit" data-ref-canvas-id ="{{canvas_html_input_id }}"  value="post"  />
</form>
 -->

<script>

 

  // var colpick = $('.demo').each( function() {
  //   $(this).minicolors({
  //     control: $(this).attr('data-control') || 'hue',
  //     inline: $(this).attr('data-inline') === 'true',
  //     letterCase: 'lowercase',
      
  //     opacity: true,
  //     change: function(hex, opacity) {
  //       if(!hex) return;
       
  //       try {
  //         console.log(hex + "  " + opacity);
  //       } catch(e) {}
  //       $(this).select();
  //     },
  //     //theme: 'bootstrap'
  //   });
  // });





$(".canvas_post_button").button();




</script>

<!--
<script>
ajax_create_canvas("{{canvas_html_input_id }}canvas_form" ,"{{canvas_html_input_id }}" )
</script>

-->