<!--   <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{ STATIC_URL }}/static/jquery-mobile/themes/blue.css">
<link rel="stylesheet" href="{{ STATIC_URL }}/static/jquery-mobile/themes/jquery.mobile.icons.min.css">

<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
 -->



{% include "canvas/common_toolbox.html" %} 

<div class="main_navbar_div">


<button class = "canvaswrite_but" id="{{ref_canvas_id}}canvaswrite_but"  data-ref-canvas-id="{{ref_canvas_id}}"  style="width:105px; height:30px">TEXT</button>

<button class = "canvasdraw_but" id="{{ref_canvas_id}}canvasdraw_but" data-ref-canvas-id="{{ref_canvas_id}}" style="width:105px; height:30px" >DRAW</button>

<button class = "canvasimage_but" id="{{ref_canvas_id}}canvasimage_but" data-ref-canvas-id="{{ref_canvas_id}}"  style="width:107px; height:30px" >IMAGE</button>

<button class = "canvasvideo_but" id="{{ref_canvas_id}}canvasvideo_but" data-ref-canvas-id="{{ref_canvas_id}}" data-toolbox="canvasvideo_toolbox" style="width:105px; height:30px" >VIDEO</button>

<button class = "canvassound_but" id="{{ref_canvas_id}}canvassound_but" data-ref-canvas-id="{{ref_canvas_id}}" data-toolbox="canvassound_toolbox" style="width:105px; height:30px" >SOUND</button>




<input type="hidden" id="{{ref_canvas_id}}colour"  class="form-control demo" data-control="hue" value="#000000" >


<button type="button" data-ref-canvas-id="{{ref_canvas_id}}" class="add_layer" id="{{ref_canvas_id}}add_layer" value="+ layer" style="width:65px; height:25px" > +layer</button>




<button id="{{ref_canvas_id }}layers_button" data-layers-dialog-id="{{ref_canvas_id }}layer_dialog" data-ref-canvas-id="{{ref_canvas_id}}" class="layers_button" style="width:230px; height:25px">layers</button>

</div>




<div class="layers_dialog" id="{{ref_canvas_id}}layer_dialog"
 title="layers" >

	<div class="layers" id="{{ref_canvas_id}}layers"   >


	</div>  
</div>



<div class="canvas_layers" id="{{ref_canvas_id}}canvas_layers" 
data-ref-canvas-id ="{{ref_canvas_id}}" >
<!-- put all the layers here including backbround   must be made auto beucsase
of all the divs and attrubites-->
<div id="{{ref_canvas_id}}div_layer0" class="div_layer" style="width:550px; height:275px" >
	<canvas class="layer", id="{{ref_canvas_id}}layer0" data-ref-canvas-id="{{ref_canvas_id}}" style="width:550px; height:275px"> </canvas>



</div>
<form   id= "{{canvas_html_input_id }}canvas_form" class="canvas_form" data-ref-canvas-id ="{{canvas_html_input_id }}"   >


	<input  class= "canvas_post_button" type="submit" data-ref-canvas-id ="{{canvas_html_input_id }}"  value="post"  />
</form>
</div>






<div class= "canvascreate_container">



	<div class= "backgroundtab" >
		<!-- make  the canvas create the main canvas- background white   -->
		
		<canvas  class = "canvas_background"   >
		Your browser does not support the HTML5 canvas tag.</canvas>

	</div> 


	<div class="canvaswritetab"  data-toolbox="canvaswrite_toolbox" 
	id="{{ref_canvas_id}}canvaswritetab">
			{% include "canvaswrite/canvaswrite_gui.html" with canvas_html_input_id=ref_canvas_id %}
	</div>
		
	<div class="canvasdrawtab"  data-toolbox="canvasdraw_toolbox" id="{{ref_canvas_id}}canvasdrawtab">
		{% include "canvasdraw/canvasdraw_gui.html" with ref_canvas_id=ref_canvas_id %}
	</div>

	<div class="canvasimagetab" data-toolbox="canvasimage_toolbox" id="{{ref_canvas_id}}canvasimagetab">
		{% include "canvasimage/canvasimage_gui.html" with ref_canvas_id=ref_canvas_id %}
	</div>

</div>

<script>
$("button").button();

//alert("{{ref_canvas_id}}");




$(".layers_button").button();



  var colpick = $('.demo').each( function() {
    $(this).minicolors({
      control: $(this).attr('data-control') || 'hue',
      inline: $(this).attr('data-inline') === 'true',
      letterCase: 'lowercase',
      
      opacity: true,
      change: function(hex, opacity) {
        if(!hex) return;
       
        try {
          console.log(hex + "  " + opacity);
        } catch(e) {}
        $(this).select();
      },
      //theme: 'bootstrap'
    });
  });


</script>