

{% load staticfiles %}
<!--<script type="text/javascript" src="{% static 'canvas/ajax_canvas_post.js' %}"></script>-->
<script type="text/javascript" src="{% static 'canvas/canvaswrite.js' %}"></script>


<canvas  class = "canvas" id="{{canvas_html_input_id }}canvas" width="550" height="275" >
Your browser does not support the HTML5 canvas tag.</canvas><br>


<form action="{% url 'canvas:create_canvas_post' canvas_html_input_id   %}"  
method="post"  id= "{{canvas_html_input_id }}canvas_form"  >
{% csrf_token %}

	<input type="text" onkeyup= "canvas_write(this)"   
	name= "canvas_post" id="{{canvas_html_input_id}}" size="43" maxlength="350" />

	<input  id= "canvas_post_button" type="submit"   value="post"  />
</form>

<!--
<script>
ajax_create_canvas("{{canvas_html_input_id }}canvas_form" ,"{{canvas_html_input_id }}" )
</script>

-->




