
<!DOCTYPE html>

{% load static from staticfiles %}
<html>
<head>

	<link rel="stylesheet" href="{% static 'canvas/style/styles.css' %}" type="text/css"> 
	<link rel="stylesheet" href="{% static 'canvas/style/buttons.css' %}" type="text/css"> 
	
	<link rel="stylesheet" href="{{ STATIC_URL }}/static/jquery-ui-1.11.4.custom/jquery-ui.min.css">



	<script type="text/javascript" src="{{ STATIC_URL }}/static/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/static/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>



	<script type="text/javascript" src="{% static 'canvaswrite/js/canvaswrite_render.js' %}"></script>
	<script type="text/javascript" src="{% static 'canvas/canvas_comment_button.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'canvas/js/create_gui_settings.js' %}"></script>



	<!-- for colour picker -->
	<link rel="stylesheet" href="{{ STATIC_URL }}/static/css/jquery.minicolors.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}/static/css/bootstrap.min.css"> 
	<script type="text/javascript" src="{{ STATIC_URL }}/static/js/jquery.minicolors.min.js"></script>




</head>

<body>




	 <h1>{% block title %}My amazing site{% endblock %}</h1>


<div class= "center_column">

	




	{% include "canvaswrite/canvaswrite_gui.html" with canvas_html_input_id=0 %}

   	{% for canvas in user_canvas_set %}


   		{% if canvas.texts_in_canvas_set.all %}

   		<div class= "incanvas_text_data" 
   		 data-ref-canvas-id="{{canvas.id}}" >

	   	{% for text in canvas.texts_in_canvas_set.all %}
	   
	   
	   	<p 
	   	data-font="{{text.text_font}}"
	   	  data-font-size="{{text.text_size }}"
	   	 data-color="{{text.text_color}}"
	   	 data-x-pos="{{text.coordinates_x}}"
	   	 data-y-pos="{{text.coordinates_y}}"
	   	 data-opacity="1" 
	   	 data-text="{{text.canvas_text}}">
	   	</p>

	   	{% endfor %}



	    </div>
	    {% endif  %}
	   	




	    {% if not canvas.parent.all %}



		<p class= "canvas_heading"> 
			{{canvas.user}}   {{canvas.pub_date}}  <a class= "delete_post_link" href="{% url 'canvas:delete_canvas_post' canvas.id %}" >delete</a>
		 </p> 

		<canvas  class = "canvas" id="{{canvas.id}}"
		canvas_post= "{{canvas.canvas_post}}" data-post-font-size = "{{canvas.font_size}}"
		data-post-font= "{{canvas.post_font}}" >
		Your browser does not support the HTML5 canvas tag.</canvas>

			    
		    {%if not canvas.last_child_canvas %}
				<button class= "canvas_comment_button"  > comment </button>
				<div class= "comment_canvas"  > 
				{% include "canvaswrite/canvaswrite_gui.html" with canvas_html_input_id=canvas.id %}
				
			
				</div>
			{% endif %}

		{% endif %}	

		
			{%for canvas_children in canvas.last_child_canvas %}		
				{% include "canvas/canvas_comments.html" %}
			{% endfor %}



	{% endfor %}
	
</div>

</body>

	<script type="text/javascript" src="{% static 'canvaswrite/js/canvaswrite_post.js' %}"></script>
	<script type="text/javascript" src="{% static 'canvaswrite/js/canvaswrite.js' %}"></script>


</html>

	



