

#font_brush_size_selector{
	width:50px;
}






.canvas_create{
	border:1px solid #d3d3d3;
	background-color:white;
	width: 550px;
    height: 275px;


}
/*
.in_canvas_input{


	position: absolute;
	top:-1px;
	left:25px;
	z-index:1;


}
	opacity: 0.0;
	position: absolute;
	top:150px;
	left:370px;
	z-index:1;


*/
 


.size_selector{

width:40;
}