
#canvas_comment_text {
    position: relative;
    left: -430px;
    top: 25px;
}


.center_column{
    background-color: #EEF8F8 ;
    position: relative;
    width: 560px;
    left: 350px;
    top:75px;


}



.canvas{
    border:1px solid #d3d3d3;
	background-color:white;
     width: 550px;
     height: 275px;
}


.delete_post_link{

    color:purple;
}
.more_commentslink{

    position: relative;
    color:purple;
    top: 10px;
    left:100px;
    
}

.child_canvas_user_name{
    color:purple;
}

.comment_canvas{
    display: none;
    position: relative;
    top: 20px;

}



.child_canvas_user_name{
position: relative;
   	top: 40px;
 }

.child_canvases {
    border:1px solid #d3d3d3;
	position: relative;
    left: 100px;
    top: -10px;
    background-color:white; 
    width: 400px;
    height: 200px;
} 


.canvas_heading{
    position: relative;
    top: 15px;
   
} 