
{% load static from staticfiles %}

<link rel="stylesheet" href="{% static 'canvasimage/style/css_canvasimage.css' %}" type="text/css"> 

<div class = "canvasimage_toolbox" id="{{ref_canvas_id}}canvasimage_toolbox">
<h1>  canvas image draw </h1> 


<input class= "image_source" id="{{ref_canvas_id}}image_source" value ="http://i.ytimg.com/vi/fu1lRZqeNX0/maxresdefault.jpg"/> 
<button class="add_image" id="{{ref_canvas_id}}add_image" data-ref-canvas-id ="{{ref_canvas_id}}" > add image </button> 

</div>
<canvas  class = "canvas_create" id="2canvasimage"  >
Your browser does not support the HTML5 canvas tag.</canvas><br>
